body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightslategrey;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    border: 1px solid goldenrod;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 40px rgb(0,0, 30);
}

#display {
    width: 100%;
    padding: 0px;
    font-size: 4em;
    border: 2px solid black ;
    outline:none;
    text-align: right;
    background-color: #f9f9f9;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    padding: 20px;
    font-size: 1.5em;
    border: 7px solid #ccc;
    color: goldenrod;
    background-color: black;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 0 80px rgb(7, 0, 0);
}

button:hover {
    background-color:white;
}

button:active {
    background-color: #ddd;
}

button.equals {
    grid-column: span 4;
    background-color: yellow;
    color: black;
    font-size: 3em;
}

button.equals:hover {
    background-color: #45a049;
}